* {
	background-color: #111;
	margin: 0;
	padding: 0;
}

html,
body {
	overflow: hidden;
}

#canvas {
	position: absolute;
	background: #000;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

div#buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-basis: 3vmin;
	position: relative;

	background: #3333333f;
	width: 50vmin;
	height: 80vmin;
	border: 7px #222;
	border-radius: 10%;

	position: absolute;
	top: 50%;
	left: 50%;
	margin: -40vmin 0 0 -25vmin;
}

.game-button {
	width: 30vmin;
	background: #111;
	color: antiquewhite;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 6vmin;
	text-align: center;
	border-radius: 10px;
	padding: 1vmin 5vmin;
}

#rofl {
	font-size: 3vmin;
}

#image {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5vmin;
}

img {
	pointer-events: none;
	opacity: 0;
	position: relative;
	animation: show 2000ms;
}

@keyframes show {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	50% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
	}
}
