* {
	user-select: none;
}

body {
	margin: 0;
	background: linear-gradient(rgb(37, 0, 138), rgb(0, 132, 255));
	font-family: Arial, Helvetica, sans-serif;

	display: grid;

	justify-content: center;
	align-content: center;
	grid-template-rows: 10vh 70vh 20vh;
}

#header {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 10vmin 10vmin;
	gap: 27vmin;
	color: aliceblue;
	font-size: 3vmin;
	text-transform: uppercase;
}

.text {
	display: grid;
	margin-top: 6vmin;
}

.text span {
	padding-top: 3vmin;
	font-size: 4vmin;
	font-weight: bold;
}

#game-board {
	--cell-size: 4.5vmin;
	--cell-gap: 4vmin;
	position: relative;

	display: grid;
	justify-content: center;
	padding-top: 20vmin;
	gap: var(--cell-gap);
	grid-template-columns: repeat(6, var(--cell-size));
	grid-template-rows: repeat(6, var(--cell-size));
}

.cell {
	background: #00000004;
	border-radius: 100%;
	cursor: pointer !important;
}

.point {
	pointer-events: none;

	--y: 0;
	--x: 0;

	top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + 20vmin);
	left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)));
	position: absolute;
	width: var(--cell-size);
	height: var(--cell-size);

	background: #ff5656;
	border-radius: 100%;
	border: 0 solid #00000073;
	border-bottom-width: 0.5vmin;
	transition: 0.5s;
	animation: show 0.7s;
}

.point:hover {
	transform: scale(1.2);
}

#buttons {
	display: grid;
	align-items: center;
	justify-content: center;
	padding-right: 2vmin;
	grid-template-columns: 5vmin 5vmin 5vmin;
	gap: 10vmin;
}

.button {
	padding: 3.5vmin;
	border-radius: 100%;
}

.line {
	position: fixed;
	margin-bottom: 3vmin;
	animation: line-showing 300ms;
}

@keyframes show {
	0% {
		opacity: 0.2;
		transform: scale(0.2);
	}
}

@keyframes line-showing {
	0% {
		opacity: 0.5;
	}
}
