body {
	margin: 0;
	background: black;
}

#root {
	padding: 3rem;
	text-align: center;
}

#root h1 {
	font-family: 'Press Start 2P', Consolas, monospace;
	color: white;
}

#root canvas {
	display: block;
	margin: 0 auto;
}

#main-menu {
	position: absolute;
	background: #222;
	color: antiquewhite;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 3vmin;
	text-align: center;
	border-radius: 10px;
	padding: 1vmin 4vmin;
	margin: -87vmin 0 0 -3vmin;
}
